<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AppStore - Algolia Technical Test</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700">

    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">

    <style>
        body {
            font-family: 'Lato';
            background-color: #F1F1F1;
        }

        .navbar {
            background-color: #0A1724;
        }

        .navbar-brand {
            color: white !important;
        }
        #q {
            font-size: 30px;
            height: 60px;
            text-align: center;
        }
        .algolia-autocomplete {
            width: 100%;
        }
        .algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
            width: 100%;
            min-height: 30px;
            text-indent: 10px;
        }
        .algolia-autocomplete .aa-hint {
            color: #999;
        }
        .algolia-autocomplete .aa-dropdown-menu {
            width: 100%;
            background-color: #fff;
            border: 1px solid #999;
            border-top: none;
        }
        .algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
            cursor: pointer;
            padding: 5px 4px;
        }
        .algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
            background: #f8f8f8;
        }
        .algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
            font-weight: bold;
            font-style: normal;
        }
        .algolia-autocomplete .category {
            text-align: left;
            background: #efefef;
            padding: 10px 5px;
            font-weight: bold;
        }
        .app .image {
            float: left;
            display: inline-block;
            border: 1px solid #EEE;
            margin-right: 10px;
        }
        .app .image img {
            height: 120px;
            width: 120px;
        }
        .app .text .name {
            font-size: 24px;
        }
        .app {
            clear: both;
            overflow: auto;
            padding: 15px;
        }
    </style>
</head>
<body id="app-layout">
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Branding Image -->
            <a class="navbar-brand" href="/">
                AppStore
            </a>
        </div>

    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <input type="text" class="form-control" id="q" placeholder="Search apps" autofocus>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JavaScripts -->
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/hogan.js/3.0/hogan.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script type="text/javascript">
    var client = algoliasearch('{{ algolia_app_id }}', '{{ algolia_search_key }}');
    var apps = client.initIndex('{{ algolia_apps_index }}');
    {% raw %}
    var template = Hogan.compile('<div class="app">' +
        '<div class="image"><img src="{{{ image }}}" /></div>' +
        '<div class="text"><div class="name">{{{ _highlightResult.name.value }}}</div>' +
        '<span class="label label-info">{{{ category }}}</span>' +
        '</div></div>');
    autocomplete('#q', {hint: false}, [
        {
            source: autocomplete.sources.hits(apps, {hitsPerPage: 5}),
            displayKey: 'name',
            templates: {
                suggestion: function(hit) {
                    return template.render(hit);
                }
            }
        }
    ]).on('autocomplete:selected', function(event, suggestion, dataset) {
        window.open(suggestion.link, '_blank');
    });
    {% endraw %}
</script>
</body>
</html>
